#absoluteWrapper{
  position: fixed;
  background-color: #fff;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999999999999;
  display: block;

}
.linearChild{
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 5vh;
  width: 100vw;
  height: 40vh;
  background-image: url('../assets/60ddc16a0ecdf91ae3ca8904_5d84d133a21fc835fb370789_shape-black-2.svg');
  transform:rotate(180deg);
  background-position: 50% 0%, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat;
}


.linearChild2{
  position: absolute;
  width: 100vw;
  height: 8vh;
  background: url('../assets/60ddc16a0ecdf91ae3ca8904_5d84d133a21fc835fb370789_shape-black-2.svg');
  left: 0;
  right: 0;
  bottom: -3vh;
  background-position: 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat;
  z-index: 9999999;
}



/*WRAPPER NAVBAR, CONTENT AND FOOTER*/
#wrapper{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  overflow: visible !important;

}
/*NAVIGAION WRAPPER*/
#navWrapper{
  position: fixed;
  width: 100%;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  z-index: 99;
  background-color: #fff;
  overflow: visible !important;
}
/*FOOTER WRAPPER*/
#footerWrapper{
  position: relative;
  width: 1300px;
  padding: 140px 60px 40px 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}


/*MEDIA Q. */

@media (max-width: 320px) {
  /*FOOTER WRAPPER*/
  #footerWrapper {
    width: 238px;
    padding: 60px 20px 40px 20px;
  }
  #navWrapper {
    padding: 0;
  }

}

@media only screen and (max-width: 414px) and (min-width: 321px) {
    /*FOOTER WRAPPER*/
  #footerWrapper {
    width: 300px;
    padding: 60px 20px 40px 20px;
  }
  #navWrapper {
    padding: 0;
  }

}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  /*FOOTER WRAPPER*/
  #footerWrapper {
    width: 395px;
    padding: 60px 20px 40px 20px;
  }
  #navWrapper {
    padding: 0;
  }

}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  /*FOOTER WRAPPER*/
  #footerWrapper {
    width: 556px;
    padding: 60px 20px 40px 20px;
  }
  #navWrapper {
    padding: 0;
  }

}
@media only screen and (max-width: 920px) and (min-width: 769px) {
  /*FOOTER WRAPPER*/
  #footerWrapper {
    width: 730px;
    padding: 60px 40px 40px 40px;
  }
  #navWrapper {
    padding: 0;
  }


}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  /*FOOTER WRAPPER*/
  #footerWrapper {
    width: 879px;
    padding: 60px 40px 40px 40px;
  }

}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
  /*FOOTER WRAPPER*/
  #footerWrapper {
    width: 985px;
  }

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
  /*FOOTER WRAPPER*/
  #footerWrapper {
    width: 1120px;
  }

}
