<img src="assets/board_surf-png.png" alt="" class="imageSurf">

<div class="divWrapper firstLeft">
  <span class="spanRow">
    <img src="assets/spray-paint.svg" alt="Spray" class="svg margin" *ngIf="displaySurfOne" [@displaySurfOne]>
  </span>
  <span class="spanRow">
    <h4 class="h4Left" *ngIf="displaySurfText" [@show]>custom products</h4>
  </span>
  <span class="spanRow">
    <p class="p left" *ngIf="displaySurfText" [@show]>Lorem ipsum dolor sit amet, con
    ecte tur adip si cin elit</p>
  </span>
</div>

<div class="divWrapper secLeft">
  <span class="spanRow">
    <img src="assets/station-wagen.svg" alt="Spray" class="svg" *ngIf="displaySurfTwo" [@displaySurfTwo]>
  </span>
  <span class="spanRow">
    <h4 class="h4Left" *ngIf="displaySurfText" [@show]>fast shipping</h4>
  </span>
  <span class="spanRow">
    <p class="p left" *ngIf="displaySurfText" [@show]>Lorem ipsum dolor sit amet, con
    ecte tur adip si cin elit</p>
  </span>
</div>

<div class="divWrapper thirdLeft">
  <span class="spanRow">
    <img src="assets/Orion_reload.svg" alt="Spray" class="svg margin" *ngIf="displaySurfThree" [@displaySurfThree]>
  </span>
  <span class="spanRow">
    <h4 class="h4Left" *ngIf="displaySurfText" [@show]>only recyclable materials</h4>
  </span>
  <span class="spanRow">
    <p class="p left" *ngIf="displaySurfText" [@show]>Lorem ipsum dolor sit amet, con
    ecte tur adip si cin elit</p>
  </span>
</div>

<div class="divWrapper firstRight">
  <span class="spanRowRight">
    <img src="assets/Orion_smiley.svg" alt="Spray" class="svg margin smaller padding" *ngIf="displaySurfFour" [@displaySurfFour]>
  </span>
  <span class="spanRowRight">
    <h4 class="h4Left" *ngIf="displaySurfText" [@show]>easy-care</h4>
  </span>
  <span class="spanRowRight">
    <p class="p right padding" *ngIf="displaySurfText" [@show]>Lorem ipsum dolor sit amet, con
    ecte tur adip si cin elit</p>
  </span>
</div>

<div class="divWrapper secRight">
  <span class="spanRowRight">
    <img src="assets/Orion_herbal-medicine.svg" alt="Spray" class="svg margin padding" *ngIf="displaySurfFive" [@displaySurfFive]>
  </span>
  <span class="spanRowRight">
    <h4 class="h4Left" *ngIf="displaySurfText" [@show]>100% eco fabric</h4>
  </span>
  <span class="spanRowRight">
    <p class="p right padding" *ngIf="displaySurfText" [@show]>Lorem ipsum dolor sit amet, con
    ecte tur adip si cin elit</p>
  </span>
</div>

<div class="divWrapper thirdRight">
  <span class="spanRowRight">
    <img src="assets/Orion_toilet.svg" alt="Spray" class="svg margin smaller padding" *ngIf="displaySurfSix" [@displaySurfSix]>
  </span>
  <span class="spanRowRight">
    <h4 class="h4Left" *ngIf="displaySurfText" [@show]>for everyone</h4>
  </span>
  <span class="spanRowRight">
    <p class="p right padding" *ngIf="displaySurfText" [@show]>Lorem ipsum dolor sit amet, con
    ecte tur adip si cin elit</p>
  </span>
</div>
