.wrapp{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 20px;
}
.wrapp h1{
  padding: 0px;
  background-color: transparent;
  color: #81d0d8;
  font-size: 39px;
  line-height:0.9;
  font-family: 'Lobster', sans-serif;
}


.wrappLast {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  border: 1px solid #81d0d8;
  padding: 9px;
}

.input{
  position: relative;
  width: 72%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  vertical-align: middle;
  border: none;
  outline: none;

}
.button{
  position: relative;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #81d0d8;
  vertical-align: middle;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
}

/*MEDIA Q. */

@media (max-width: 320px) {
  .wrappLast {
    width: 100%;
  }
  .wrapp {
    width: 100%;
  }
  .input {
    width: 55%;
  }
  .button {
    padding: 6px 8px;
  }


}

@media only screen and (max-width: 414px) and (min-width: 320.001px) {
  .wrappLast {
    width: 100%;
  }
  .wrapp {
    width: 100%;
  }

}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 414.001px) {
  .wrappLast {
    width: 100%;
  }
  .wrapp {
    width: 100%;
  }

}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 576.001px) {
  .wrappLast {
    width: 100%;
  }
  .wrapp {
    width: 100%;
  }

}
@media only screen and (max-width: 920px) and (min-width: 768.001px) {
  .wrappLast {
    width: 400px;
  }
  .wrapp {
    width: 400px;
  }

}
@media only screen and (max-width: 1025px) and (min-width: 920.001px) {
  .wrappLast {
    width: 400px;
  }
  .wrapp {
    width: 400px;
  }


}
