/*Wrapper*/

.wrapper1 {
  position: relative;
  width: 645px;
  height: 100%;
}


/*DIV DISAPPEAR*/
.disappear{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #81d0d8;
}

/*DIV APPEAR*/
.appear{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/manOnBoard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/*TEXT AND BUTTON LEFT ON DIV WITH PHOTO*/
.h4{
  font-family: 'Poppins', sans-serif;
  font-size: 29px;
  color: #fff;
  line-height: 0.9;
  padding: 5px;

}
.h3{
  font-family: 'Lobster', sans-serif;
  font-size: 75px;
  color: #fff;
  line-height: 0.9;
  padding: 0 5px;

}
/*BUTTON*/
.btn {
  position: relative;
  overflow: hidden;
  padding: 14px 37px;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
}
.btn:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #fff;
}


/*BACKGROUND AND STYLE FOR DIV ITEMS ON THE RIGHT SIDE*/
.background{
  background-color: #81d0d8;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
/*Wrapper for text left and right*/
.childWrapper{
  position: relative;
  width: 416px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

/*HEADER AND H1 TAG*/
.header{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.h1{
  font-size: 48px;
  text-align: center;
  line-height: 0.9;
  color: #fff;
  font-weight: 400;
  font-family: 'Lobster', sans-serif;
  padding: 0 5px;
}


/*INPUT AND BUTTON*/
.backgroundInp{
  background-color: #fff;
  border: none;
  padding: 10px;
  margin-top: 40px;
}
.input{
  position: relative;
  width: 70%;
  height: 40px;
  border: none;
  outline: none;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: #81d0d8;

}
.buttonSubscribe{
  position: relative;
  width: 30%;
  height: 40px;
  padding: 10px 15px;
  line-height: 16px;
  border: none;
  outline: none;
  background-color: #81d0d8;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
  vertical-align: center;
}



.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adb5bd;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #adb5bd;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #adb5bd;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 16px;
}


/*MEDIA Q. */

@media (max-width: 320px) {
  .wrapper1 {
    position: relative;
    width: 100%;
    height: 523px;
  }
  .childWrapper {
    width: 100%;
  }
  .backgroundInp {
    width: 210px;
  }
  .childWrapper h1 {
    width: 100%;
  }
  .input {
    width: 100%;
  }
  .buttonSubscribe {
    width: 100%;
  }


}

@media only screen and (max-width: 414px) and (min-width: 320.001px) {

  /*Wrapper*/
  .wrapper1 {
    position: relative;
    width: 100%;
    height: 480px;
  }

  /*Wrapper for text left and right*/
  .childWrapper {
    width: 100%;
  }

  /*Input and button background*/
  .backgroundInp {
    width: 280px;
  }

  .childWrapper h1 {
    width: 100%;
  }

  /*input width*/
  .input {
    width: 100%;
  }

  /*button width*/
  .buttonSubscribe {
    width: 100%;
  }
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 414.001px) {

  /*Wrapper*/
  .wrapper1 {
    position: relative;
    width: 100%;
    height: 417px;
  }

  /*Wrapper for text left and right*/
  .childWrapper {
    width: 100%;
  }

  /*Input and button background*/
  .backgroundInp {
    width: 323px;
  }

  /*h1 style*/
  .childWrapper h1 {
    width: 100%;
  }

  /*Input width*/
  .input{
    width: 60%;
  }
  /*Button width*/
  .buttonSubscribe{
    width: 40%;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 576.001px) {

  /*Wrapper*/
  .wrapper1 {
    position: relative;
    width: 100%;
    height: 356px;
  }

  /*Wrapper for text left and right*/
  .childWrapper {
    width: 100%;
  }
  /*Input and button background*/
  .backgroundInp {
    width: 440px;
  }

  /*h1 style*/
  .childWrapper h1 {
    width: 100%;
  }


}
@media only screen and (max-width: 920px) and (min-width: 768.001px) {

  /*Wrapper*/
  .wrapper1 {
    position: relative;
    width: 100%;
    height: 356px;
  }

  /*Wrapper for text left and right*/
  .childWrapper {
    width: 100%;
  }
  .backgroundInp {
    width: 440px;
  }
  /*h1 style*/
  .childWrapper h1 {
    width: 100%;
  }

}
@media only screen and (max-width: 1025px) and (min-width: 920.001px) {

  /*Wrapper*/
  .wrapper1 {
    position: relative;
    width: 100%;
    height: 356px;
  }

  /*Wrapper for text left and right*/
  .childWrapper {
    width: 100%;
  }
  /**/
  .backgroundInp{
    width: 440px;
  }

  /*H1 style*/
  .childWrapper h1{
    width: 100%;
  }

}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1025.001px) {

  /*Wrapper*/
  .wrapper1 {
    position: relative;
    width: 487.5px;
    height: 100%;
  }

  /*Wrapper for text left and right*/
  .childWrapper {
    width: 400px;
  }

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1200.001px) {

  /*Wrapper*/
  .wrapper1 {
    position: relative;
    width: 555px;
    height: 100%;
  }

}
