
/*Wrapper all text spans*/
.wrappTextTop {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
/*Header h2  style*/
.wrappTextTop h2 {
  position: relative;
  text-transform: none;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 1.25;
  max-width: 50%;
  padding-left: 2px;
}

/*Paragraph style*/
.wrappTextTop p {
  position: relative;
  font-size: 18px;
  text-transform: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

/*Paragrapg widths*/
.width1{
  max-width: 80%;
  margin-bottom: 30px;
}

.width2{
  max-width: 60%;
}


/*MEDIA Q. */

@media (max-width: 320px) {
  /*Header h2  style*/
  .wrappTextTop h2 {
    max-width: 100%;
    font-size: 36px;
  }

  /*Paragrapg widths*/
  .width1{
    max-width: 100%;
    font-size: 16px;
  }

  .width2{
    max-width: 100%;
    font-size: 16px;
  }

}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  /*Header h2  style*/
  .wrappTextTop h2 {
    max-width: 100%;
    font-size: 36px;
  }

  /*Paragrapg widths*/
  .width1{
    max-width: 100%;
    font-size: 16px;
  }

  .width2{
    max-width: 100%;
    font-size: 16px;
  }

}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  /*Header h2  style*/
  .wrappTextTop h2 {
    max-width: 100%;
    font-size: 36px;
  }

  /*Paragrapg widths*/
  .width1{
    max-width: 100%;
    font-size: 16px;
  }

  .width2{
    max-width: 100%;
    font-size: 16px;
  }

}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  /*Header h2  style*/
  .wrappTextTop h2 {
    max-width: 90%;
  }

    /*Paragrapg widths*/
  .width1 {
    max-width: 95%;
  }

  .width2 {
    max-width: 90%;
  }
}
@media only screen and (max-width: 920px) and (min-width: 769px) {
  /*Header h2  style*/
  .wrappTextTop h2 {
    max-width: 90%;
  }

    /*Paragrapg widths*/
  .width1 {
    max-width: 95%;
  }

  .width2 {
    max-width: 90%;
  }
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  /*Header h2  style*/
  .wrappTextTop h2 {
    max-width: 90%;
  }

  /*Paragrapg widths*/
  .width1 {
    max-width: 95%;
  }

  .width2 {
    max-width: 90%;
  }

}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
  /*Header h2  style*/
  .wrappTextTop h2 {
    max-width: 80%;
  }

  /*Paragrapg widths*/
  .width1 {
    max-width: 90%;
  }

  .width2 {
    max-width: 80%;
  }

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
}
