<!--Wrapper left top h1 tag-->
<div class="leftWrapper leftTop">
  <h1 *ngIf="showText" [@slideInBottom]>Opening Hours</h1>
</div>

<!--Wrapper right top paragraph -->
<div class="rightWrapper rightTop">
  <span class="wrapperText">
    <p *ngIf="showText" [@slideInBottom]>
      Monday - <strong>Friday: 8:00 - 21:00</strong>
    </p>
  </span>

  <span class="wrapperText">
    <p *ngIf="showText" [@slideInBottom]>
      Saturday:<strong> 8:00 - 14:00</strong>
    </p>
  </span>

  <span class="wrapperText">
    <p *ngIf="showText" [@slideInBottom]>
      Sunday: <strong>Closed</strong>
    </p>
  </span>

</div>


<!--Wrapper left bottom h1 tag-->
<div class="leftWrapper leftBottom">
  <h1 *ngIf="showText" [@slideInBottom]>Wholesale Enquiries</h1>
</div>

<!--Wrapper right bottom paragraph -->
<div class="divBottomChildWrapper rightBottom">

  <div class="wrapperText rightChildBottom">

    <span class="wrapperText">

      <p *ngIf="showText" [@slideInBottom]>For all wholesale enquiries in the EU region, please contact:</p>

    </span>

    <span class="wrapperText">
      <p *ngIf="showText" [@slideInBottom]>Linda Cristie:
        <span class="spanLink">
          <a href="">lindacristie@makai.com</a>
        </span>
      </p>
    </span>


    <span class="wrapperText">
      <p *ngIf="showText" [@slideInBottom]>+43 666 5555555</p>
    </span>

  </div>



  <div class="wrapperText rightChildBottom">

    <span class="wrapperText">
      <p *ngIf="showText" [@slideInBottom]>For all wholesale enquiries in the EU region, please contact:</p>
    </span>

    <span class="wrapperText">
      <p *ngIf="showText" [@slideInBottom]>Linda Cristie:
        <span class="spanLink">
          <a href=""> lindacristie@makai.com </a>
        </span>
      </p>
    </span>

    <span class="wrapperText">
      <p *ngIf="showText" [@slideInBottom]>+43 666 5555555</p>
    </span>

  </div>

</div>
