/*Wrapper left side Top*/
.leftWrapper {
  position: relative;
  width: 410px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
/*HEIGHT FOR LEFT SIDE TEXT*/
.leftTop{
  height: 124px;
}
.leftBottom{
  height: 248px;
}
/*------------*/

.leftWrapper h1{
  font-size: 35px;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  line-height: 1.23;
  color: #333333;
}

/*RIGHT SIDE*/
.rightWrapper {
  position: relative;
  width: 890px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
/*HEIGHT FOR Right SIDE TEXT*/

.rightTop {
  height: 124px;
}
.rightBottom {
  height: 248px;
}
.rightChildBottom {
  height: 84px;
}
/*------------*/

.wrapperText {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.wrapperText p {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.23;
  color: #333333;
  margin-bottom: 5px;
}
  /*Bottom text child*/
.divBottomChildWrapper{
  position: relative;
  width: 890px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}


.spanLink a{
  color: #81d0d8;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  line-height: 1.23;
}


/*MEDIA Q. */

@media (max-width: 320px) {
    /*LEFT SIDE TEXT*/
  .leftWrapper {
    width: 100%;
  }
  /*RIGHT SIDE*/
  .rightWrapper {
    width: 100%;
  }
  /*RIGHT CHILD BOTTOM HEIGHT*/
  .rightChildBottom {
    height: 138px;
  }

  /*Bottom text schild*/
  .divBottomChildWrapper {
    width: 100%;
    height: 316px;
  }
  /*left bottom height*/
  .leftBottom {
    height: 41px;
    margin-bottom: 40px;
  }
  /*left TOP height*/
  .leftTop  {
    height: 41px;
    margin-bottom: 40px;
  }
  /*Margin right top div above second header*/
  .rightTop {
    margin-bottom: 40px;
  }

}

@media only screen and (max-width: 414px) and (min-width: 320.001px) {
    /*LEFT SIDE TEXT*/
  .leftWrapper {
    width: 100%;
  }
  /*RIGHT SIDE*/
  .rightWrapper {
    width: 100%;
  }
  /*RIGHT CHILD BOTTOM HEIGHT*/
  .rightChildBottom {
    height: 116px;
  }

  /*Bottom text schild*/
  .divBottomChildWrapper {
    width: 100%;
    height: 272px;
  }
  /*left bottom height*/
  .leftBottom {
    height: 41px;
    margin-bottom: 40px;
  }
  /*left TOP height*/
  .leftTop  {
    height: 41px;
    margin-bottom: 40px;
  }
  /*Margin right top div above second header*/
  .rightTop {
    margin-bottom: 40px;
  }

}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 414.001px) {
    /*LEFT SIDE TEXT*/
  .leftWrapper {
    width: 100%;
  }
  /*RIGHT SIDE*/
  .rightWrapper {
    width: 100%;
  }
  /*RIGHT CHILD BOTTOM HEIGHT*/
  .rightChildBottom{
    height: 94px;
  }
  /*Bottom text schild*/
  .divBottomChildWrapper {
    width: 100%;
    height: 228px;
  }
  /*left bottom height*/
  .leftBottom {
    height: 41px;
    margin-bottom: 40px;
  }
  /*left TOP height*/
  .leftTop  {
    height: 41px;
    margin-bottom: 40px;
  }
  /*Margin right top div above second header*/
  .rightTop {
    margin-bottom: 40px;
  }

}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 576.001px) {
  /*LEFT SIDE TEXT*/
  .leftWrapper {
    width: 100%;
  }
  /*RIGHT SIDE*/
  .rightWrapper {
    width: 100%;
  }
  /*Bottom text schild*/
  .divBottomChildWrapper {
    width: 100%;
    height: 202px;
  }
  /*left bottom height*/
  .leftBottom {
    height: 41px;
    margin-bottom: 40px;
  }
  /*left TOP height*/
  .leftTop  {
    height: 41px;
    margin-bottom: 40px;
  }
  /*Margin right top div above second header*/
  .rightTop {
    margin-bottom: 40px;
  }

}
@media only screen and (max-width: 920px) and (min-width: 768.001px) {
  /*LEFT SIDE TEXT*/
  .leftWrapper {
    width: 100%;
  }
  /*RIGHT SIDE*/
  .rightWrapper {
    width: 100%;
  }
  /*Bottom text schild*/
  .divBottomChildWrapper {
    width: 100%;
    height: 202px;
  }
  /*left bottom height*/
  .leftBottom {
    height: 71px;
    margin-bottom: 40px;
  }
  /*left top height*/
  .leftTop {
    height: 71px;
    margin-bottom: 40px;
  }
  /*Margin right top div above second header*/
  .rightTop {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1025px) and (min-width: 920.001px) {
  /*LEFT SIDE TEXT*/
  .leftWrapper {
    width: 100%;
  }
  /*RIGHT SIDE*/
  .rightWrapper {
    width: 100%;
  }
  /*Bottom text schild*/
  .divBottomChildWrapper {
    width: 100%;
    height: 202px;
  }
  /*left top height*/
  .leftTop{
    height: 71px;
    margin-bottom: 40px;
  }
  /*left bottom height*/
  .leftBottom{
    height: 71px;
    margin-bottom: 40px;
  }
  /*Margin right top div above second header*/
  .rightTop{
    margin-bottom: 40px;
  }
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1025.001px) {
  /*LEFT SIDE TEXT*/
  .leftWrapper {
    width: 250px;
  }
  /*RIGHT SIDE*/
  .rightWrapper {
    width: 735px;
  }
  /*Bottom text schild*/
  .divBottomChildWrapper {
    width: 735px;
  }

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1200.001px) {
  /*LEFT SIDE TEXT*/
  .leftWrapper {
    width: 320px;
  }
  /*RIGHT SIDE*/
  .rightWrapper {
    width: 800px;
  }
  /*Bottom text schild*/
  .divBottomChildWrapper {
    width: 800px;
  }

}
