<div id="wrapperAbout">

  <app-top-component id="topWrapper" [scaleTop]="scaleTop" appPosition (positionTopAbout)="detectTopAbout($event)"></app-top-component>

  <app-man-with-board id="ManWithBoardWrapper" [manBoardCompOne]="manBoardCompOne" [manBoardCompTwo]="manBoardCompTwo" appPosition (positionManWithBoard)="detectManWithBoard($event)"></app-man-with-board>

  <app-text-component id="TextCompWrapper" appPosition (positionTextComponent)="detectTextComponent($event)" [textPos]="textPos"></app-text-component>

  <app-four-sections id="fourSecWrapper" appPosition (positionFourSection)="detectFourSection($event)" [fourSections]="fourSections"></app-four-sections>


  <app-team
  appPosition
  (positionTeamOne)="detectTeamOne($event)"
  (positionTeamTwo)="detectTeamTwo($event)"
  (positionTeamThree)="detectTeamThree($event)"
  [showTeam]="showTeam"
  [showTeam1]="showTeam1"
  [showTeam2]="showTeam2"
  id="team"></app-team>


  <app-brands-about id="brandsAbout" [showBrands]="showBrands" appPosition (positionBrands)="detectBrands($event)"></app-brands-about>

  <app-photo-box id="photoBox" #box [showItems]="showItems"  appPosition (positionPhotoBox)="detectPhotoBox($event)"></app-photo-box>

</div>

