<!--One blog wrapper-->
<div id="blogSeparateWrapper" style="margin: 0px!important;">

  <!--left side of blog /// details-->
  <app-blog-details id="blogDetails" *ngIf="object" [object]="object"></app-blog-details>

  <!--Right side with photo and user data-->
  <app-blog-photo id="blogPhoto" *ngIf="object" [object]="object"></app-blog-photo>

</div>


<!--features and some other random blogs-->
  <div class="classFeatures">
    <h1 class="h1Features" *ngIf="showOther" [@rotateInBottom]>Features</h1>
  </div>


  <app-other-blogs
  appPositionOneBlog
  (positionOtherBlogs)="detectScroll($event)"
  id="otherBlogsWrapper"
  [showOther]="showOther"
  [data]="arrayData"></app-other-blogs>
