.headerText{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.headerText h1{
  color: #81d0d8;
  font-size: 96px;
  text-transform: capitalize;
  line-height: 0.9;
  font-weight: 400;
  font-family: 'Lobster', sans-serif;
}


/*brandswrapper*/
.wrapperBrands{
  position: relative;
  width: 684px;
  height: 361px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.wrapperBrands:first-child{
  margin-right: 117px!important;
}
