#iconsWrapper{
  position: relative;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
#iconsWrapper:hover{
  cursor: pointer;
}

.quantity{
  position: relative;
  width: 18px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  font-size: 11px;
  line-height: 18px;
  font-weight: 700;
  color:#fff;
  border-radius: 50px;
  background-color: #81d0d8;
}

.imageWrapper1 {
  position: relative;
  height: 100%;
  padding-top: 5px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-end;
}


/*Image Bag*/
.imageWrapper{
  position: relative;
  width: 20px;
  height: 20px;
}
.images {
  position: absolute;
  width: 20px;
  height: 20px;
}


/*MEDIA Q. */

@media (max-width: 320px) {

}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  .imageWrapper1 {
    top: 10px;
    right: 3px;
  }

}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  .imageWrapper1 {
    top: 10px;
    right: 3px;
  }

}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  .imageWrapper1 {
    top: 10px;
    right: 3px;
  }

}
/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 920px) and (min-width: 769px) {
  .imageWrapper1 {
    top: 10px;
    right: 3px;
  }

}
