
<!--Wrapper Left-->
<div class="left" (mouseover)="showAbsolute('1')" (mouseleave)="reset()" #photoBox appResize (position)="position($event)">
  <!--Image-->
  <img src="assets/about/photosSection/ManLeft.jpg" class="images" *ngIf="showItems" [@SlideInLeft] alt="">

  <!--Wrapper Instagram absolute div-->
  <span *ngIf="hover1" [@hover] class="absolute">
      <img src="assets/about/photosSection/_instagramW.svg" class="instagram" alt="">
      <h3>@_makay_</h3>
  </span>

</div>


<!--Wrapper right side-->
<div class="right">

  <span class="images1" (mouseover)="showAbsolute('2')" (mouseleave)="reset()">

    <!--Image-->
    <img src="assets/about/photosSection/60e2d7386f4a6751150da046_insta6.jpg" class="images" *ngIf="showItems" [@SlideInLeft] alt="">

    <!--Wrapper Instagram absolute div-->
    <span *ngIf="hover2" [@hover] class="absolute">
      <img src="assets/about/photosSection/_instagramW.svg" class="instagram" alt="">
      <h3>@_makay_</h3>
    </span>

  </span>

  <span class="images1" (mouseover)="showAbsolute('3')" (mouseleave)="reset()">

    <!--Image-->
    <img src="assets/about/photosSection/60e2d738d03c589bd3f28fe5_insta7.jpg" class="images" *ngIf="showItems" [@SlideInLeft] alt="">

    <!--Wrapper Instagram absolute div-->
    <span *ngIf="hover3" [@hover] class="absolute">
      <img src="assets/about/photosSection/_instagramW.svg" class="instagram" alt="">
      <h3>@_makay_</h3>
    </span>

  </span>


  <span class="images1" (mouseover)="showAbsolute('4')" (mouseleave)="reset()">

    <!--Image-->
    <img src="assets/about/photosSection/60e2d738e4521c8c6bf750b4_insta4.jpg" class="images" *ngIf="showItems" [@SlideInLeft] alt="">

    <!--Wrapper Instagram absolute div-->
    <span *ngIf="hover4" [@hover] class="absolute">
      <img src="assets/about/photosSection/_instagramW.svg" class="instagram" alt="">
      <h3>@_makay_</h3>
    </span>

  </span>

  <span class="images1" (mouseover)="showAbsolute('5')" (mouseleave)="reset()">

    <!--Image-->
    <img src="assets/about/photosSection/60e2dbf8df8a0cdd6a4511f7_insta2.jpg" class="images" *ngIf="showItems" [@SlideInLeft] alt="">

    <!--Wrapper Instagram absolute div-->
    <span *ngIf="hover5" [@hover] class="absolute">
      <img src="assets/about/photosSection/_instagramW.svg" class="instagram" alt="">
      <h3>@_makay_</h3>
    </span>

  </span>

  <span class="images1" (mouseover)="showAbsolute('6')" (mouseleave)="reset()">

    <!--Image-->
    <img src="assets/about/photosSection/60e2dc0df4f9387256d92c6f_insta3.jpg" class="images" *ngIf="showItems" [@SlideInLeft] alt="">

    <!--Wrapper Instagram absolute div-->
    <span *ngIf="hover6" [@hover] class="absolute">
      <img src="assets/about/photosSection/_instagramW.svg" class="instagram" alt="">
      <h3>@_makay_</h3>
    </span>

  </span>

  <span class="images1" (mouseover)="showAbsolute('7')" (mouseleave)="reset()">

    <!--Image-->
    <img src="assets/about/photosSection/60e2d738e4521c8c6bf750b4_insta4 (1).jpg" class="images" *ngIf="showItems" [@SlideInLeft] alt="">

    <!--Wrapper Instagram absolute div-->
    <span *ngIf="hover7" [@hover] class="absolute">
      <img src="assets/about/photosSection/_instagramW.svg" class="instagram" alt="">
      <h3>@_makay_</h3>
    </span>

  </span>

</div>
