<div class="child">
  <div class="div" *ngIf="left" [@slideInBottom]>
    <h4>MAKAI ADVENTURE</h4>
  </div>
  <div class="div" *ngIf="left" [@slideInBottom]>
    <h1>The sea is your <br> mirror</h1>
  </div>
  <div class="div" *ngIf="left" [@slideInBottom]>
    <p>Lorem ipsum dolor sit amet, con secte
  </p>
  </div>
</div>

<div class="child">
  <span class="span" *ngIf="imageShow" [@SlideInLeft]>
      <img src="assets/about/Woman_hero-p-800.jpeg" [@ScaleOut]="scaleTop ? 'begin' : 'end' " alt="" class="img">
  </span>
</div>
