
<app-top
id="topWrapper"
[object]="object"></app-top>


<app-second-details
id="secondDetails"
[object]="object"
appPositionOneBlog
(positionSecondBlogDetails)="detectSecondBlogDetails($event)"
[showText]="showText"></app-second-details>


<app-group-photos
id="groupPhotos"
[object]="object"
[showGroupPhotos]="showGroupPhotos"
appPositionOneBlog
(positionGroupPhotosBlogDetails)="detectGruopPhotos($event)"></app-group-photos>


<app-second-text
id="secondText"
[object]="object"
[showSecText]="showSecText"
appPositionOneBlog
(positionSecondDetailsText)="detectSecondTextBlogDetails($event)"></app-second-text>


<app-last-photo
id="topWrapper1"
[object]="object"
[showlastPhoto]="showlastPhoto"
appPositionOneBlog
(positionLastPhotoBlogDetails)="detectBottomTextBlogDetails($event)"></app-last-photo>


<app-bottom-text
id="botomText"
[object]="object"
[showBottomText]="showBottomText"
appPositionOneBlog
(positionBottomBlogDetails)="detectBottomBlogDetails($event)"></app-bottom-text>
