/*Top photo wrapper*/
#topWrapper{
  position: relative;
  width: 100%;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
}

/*secondDetails COMPONENT */
#secondDetails{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}
/*groupPhotos COMPONENT */
#groupPhotos{
  position: relative;
  width: 100%;
  height: 620px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 40px 0;
}
/*secondText COMPONENT */
#secondText{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 40px;
}

/*Last1 photo wrapper*/
#topWrapper1 {
  position: relative;
  width: 100%;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 40px;
}


/*botomText COMPONENT */
#botomText{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}



/*MEDIA Q. */

@media (max-width: 320px) {
  /*Top photo wrapper*/
  #topWrapper {
    height: 230px;
  }

  /*Last1 photo wrapper*/
  #topWrapper1 {
    height: 230px;
  }
  #groupPhotos {
    height: auto;
  }
}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  /*Top photo wrapper*/
  #topWrapper {
    height: 250px;
  }

  /*Last1 photo wrapper*/
  #topWrapper1 {
    height: 250px;
  }
  #groupPhotos {
    height: auto;
  }
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  /*Top photo wrapper*/
  #topWrapper {
    height: 350px;
  }

  /*Last1 photo wrapper*/
  #topWrapper1 {
    height: 350px;
  }
  #groupPhotos {
    height: auto;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  /*Top photo wrapper*/
  #topWrapper {
    height: 460px;
  }
  /*Last1 photo wrapper*/
  #topWrapper1 {
    height: 460px;
  }
  #groupPhotos {
    height: auto;
  }
}
@media only screen and (max-width: 920px) and (min-width: 769px) {
  /*Top photo wrapper*/
  #topWrapper {
    height: 520px;
  }
  /*Last1 photo wrapper*/
  #topWrapper1 {
    height: 520px;
  }
  /*groupPhotos COMPONENT */
  #groupPhotos {
    height: auto;
  }
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  /*Top photo wrapper*/
  #topWrapper {
    height: 460px;
  }
  /*Last1 photo wrapper*/
  #topWrapper1 {
    height: 460px;
  }
  /*groupPhotos COMPONENT */
  #groupPhotos {
    height: 400px;
  }

}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
  /*Top photo wrapper*/
  #topWrapper {
    height: 480px;
  }
  /*Last1 photo wrapper*/
  #topWrapper1 {
    height: 480px;
  }
  /*groupPhotos COMPONENT */
  #groupPhotos {
    height: 450px;
  }

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
  /*Top photo wrapper*/
  #topWrapper {
    height: 580px;
  }
  /*Last1 photo wrapper*/
  #topWrapper1 {
    height: 580px;
  }

  /*groupPhotos COMPONENT */
  #groupPhotos {
    height: 500px;
  }


}
