/*Header wrapper and h1*/
.headerTop{
  position: relative;
  width: 100%;
  text-align: start;
  margin-bottom: 75px;
}

.headerTop h1{
  text-transform: capitalize;
  color: #333;
  font-size: 60px;
  line-height: 0.9;
  font-weight: 400;
  font-family: 'Lobster', sans-serif;
}


/*Pictures wrapper*/

.picturesWrapper{
  position: relative;
  width: 100%;
  height: 485px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
}

/*DIV IMAGE*/
.imageDiv{
  position: relative;
  width: 420px;
  height: 100%
}
.imageDiv:hover{
  cursor: pointer;
}
/*Background for image divs*/
.img1{
  background-image: url('../../../assets/about/leftMan.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.img2{
  background-image: url('../../../assets/about/secWoman.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.img3{
  background-image: url('../../../assets/about/LastWoman.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}


/*Absoute div*/
.absoluteDiv{
  position: absolute;
  width:100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(129, 208, 216, .7);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-start;
  padding: 40px;
}

.absoluteDiv h3{
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 0.9;
  font-weight: 400;
  font-family: 'Lobster', sans-serif;

}
.absoluteDiv p{
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


/*MEDIA Q. */

@media (max-width: 320px) {
  /*Pictures wrapper*/
  .picturesWrapper {
    width: 100%;
    height: 1495px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  /*margin bottom*/
  .marginBottom {
    margin-bottom: 20px;
  }

  /*DIV IMAGE*/
  .imageDiv {
    width: 100%;
    height: 485px;
  }
    /*Header wrapper and h1*/
  .headerTop {
    margin-bottom: 20px;
  }
    .headerTop h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  /*Pictures wrapper*/
  .picturesWrapper {
    width: 100%;
    height: 1495px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  /*margin bottom*/
  .marginBottom {
    margin-bottom: 20px;
  }

  /*DIV IMAGE*/
  .imageDiv {
    width: 100%;
    height: 485px;
  }
    /*Header wrapper and h1*/
  .headerTop {
    margin-bottom: 20px;
  }
    .headerTop h1 {
    font-size: 32px;
  }
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  /*Pictures wrapper*/
  .picturesWrapper {
    width: 100%;
    height: 1495px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  /*margin bottom*/
  .marginBottom {
    margin-bottom: 20px;
  }

  /*DIV IMAGE*/
  .imageDiv {
    width: 100%;
    height: 485px;
  }
    /*Header wrapper and h1*/
  .headerTop {
    margin-bottom: 20px;
  }
  .headerTop h1 {
    font-size: 32px;
  }

}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  /*Pictures wrapper*/
  .picturesWrapper {
    width: 100%;
    height: 1495px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  /*margin bottom*/
  .marginBottom {
    margin-bottom: 20px;
  }

  /*DIV IMAGE*/
  .imageDiv {
    width: 100%;
    height: 485px;
  }
  /*Header wrapper and h1*/
  .headerTop {
    margin-bottom: 20px;
  }

}
@media only screen and (max-width: 920px) and (min-width: 769px) {
  /*Pictures wrapper*/
  .picturesWrapper {
    width: 100%;
    height: 1495px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  /*margin bottom*/
  .marginBottom {
    margin-bottom: 20px;
  }

  /*DIV IMAGE*/
  .imageDiv {
    width: 100%;
    height: 485px;
  }

}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  /*Pictures wrapper*/
  .picturesWrapper {
    width: 100%;
    height: 1495px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  /*margin bottom*/
  .marginBottom{
    margin-bottom: 20px;
  }
  /*DIV IMAGE*/
  .imageDiv {
    width: 100%;
    height: 485px;
  }

}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
  /*DIV IMAGE*/
  .imageDiv {
    width: 315px;
  }

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
  /*DIV IMAGE*/
  .imageDiv {
    width: 360px;
  }

}
