/*Wrapper of every icon*/
.wrapperGif{
  position: relative;
  width:420px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
}

/*ALL CHILDRENS*/
.ChildrensWrapper{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

 /*GIF IMAGE WRAPPER AND GIF STYLE*/
.gifWrapperHeight{
  height: 80px;
}

.gif{
  position: relative;
  height: 80px;
}


/*H1 STYLE*/
.h1Wrapper{
  height: 35px;
}
.h1Size{
  font-size: 24px;
  font-family: 'Lobster', sans-serif;
  font-weight: 300;
  text-transform: none;
  line-height: 1.25;
}

/*TEXT P STYLE*/
.pWrapper{
  min-height: 20px;
}
.PText{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}


/*MEDIA Q. */

@media (max-width: 320px) {

  /*Wrapper of every icon*/
  .wrapperGif {
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    height: auto;
  }
  .wrapperGif:first-child{
    margin-bottom: 79px;
  }
  .wrapperGif:nth-child(2){
    margin-bottom: 79px;
  }
  .pWrapper {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 414px) and (min-width: 321px) {

  /*Wrapper of every icon*/
  .wrapperGif {
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    height: auto;
  }
  .wrapperGif:first-child{
    margin-bottom: 79px;
  }
  .wrapperGif:nth-child(2){
    margin-bottom: 79px;
  }
  .pWrapper {
    margin-top: 5px;
  }
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {

  /*Wrapper of every icon*/
  .wrapperGif {
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    height: auto;
  }
  .wrapperGif:first-child{
    margin-bottom: 79px;
  }
  .wrapperGif:nth-child(2){
    margin-bottom: 79px;
  }
  .pWrapper {
    margin-top: 5px;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {

  /*Wrapper of every icon*/
  .wrapperGif {
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    height: auto;
  }
  .wrapperGif:first-child{
    margin-bottom: 79px;
  }
  .wrapperGif:nth-child(2){
    margin-bottom: 79px;
  }
  .pWrapper {
    margin-top: 5px;
  }

}
@media only screen and (max-width: 920px) and (min-width: 769px) {

  /*Wrapper of every icon*/
  .wrapperGif {
    width: 243px;
  }
}
@media only screen and (max-width: 1025px) and (min-width: 921px) {

  /*Wrapper of every icon*/
  .wrapperGif {
    width: 285px;
  }
}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {

  /*Wrapper of every icon*/
  .wrapperGif {
    width: 320px;
  }
}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {

  /*Wrapper of every icon*/
  .wrapperGif {
    width: 365px;
  }

}
