<!--Wrapper one icon-->
<div class="wrapperGif">

  <span class="ChildrensWrapper gifWrapperHeight">
    <img src="assets/icons/blog.gif" class="gif" alt="">
  </span>

  <span class="ChildrensWrapper h1Wrapper">
    <h1 class="h1Size">Blog</h1>
  </span>

  <span class="ChildrensWrapper pWrapper">
    <p class="PText">Lorem ipsum dolor sit amet</p>
  </span>

</div>


<!--Wrapper one icon-->
<div class="wrapperGif">

  <span class="ChildrensWrapper">
    <img src="assets/icons/basket.gif" class="gif" alt="">
  </span>

  <span class="ChildrensWrapper h1Wrapper">
    <h1 class="h1Size">Ecommerce</h1>
  </span>

  <span class="ChildrensWrapper pWrapper">
    <p class="PText">Lorem ipsum dolor sit amet</p>
  </span>

</div>

<!--Wrapper one icon-->

<div class="wrapperGif">

  <span class="ChildrensWrapper">
    <img src="assets/icons/search.gif" class="gif" alt="">
  </span>

  <span class="ChildrensWrapper h1Wrapper">
    <h1 class="h1Size">Search</h1>
  </span>

  <span class="ChildrensWrapper pWrapper">
    <p class="PText">Lorem ipsum dolor sit amet</p>
  </span>

</div>
