/*Left side wrapper*/
.leftWrapper{
  position: relative;
  width: 410px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}

/*Left side wrapper TExt elements*/
.wrapperText{
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: flex-start;
}

/*Left side h1*/

.wrapperText h1{
  font-size: 60px;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  line-height: 1.23;
  color: #333333;
}

/*Left side wrapper h3*/
.wrapperText h3{
  font-size: 34px;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  line-height: 1.23;
  color: #81d0d8;
  margin-top: 30px;
  margin-bottom: 5px;
}

/*Left side wrapper paragraph*/
.wrapperText p{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.23;
  color: #333333;
  margin-bottom: 2.5px;
}

/*RIGHT SIDE*/
.rightWrapper{
  position: relative;
  width: 890px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.rightWrapper img{
  position: relative;
  width: 100%;
  height: 100%;
}


/*MEDIA Q. */

@media (max-width: 320px) {
  /*Left side wrapper*/
  .leftWrapper {
    width: 100%;
    height: 442px;
  }

  /*RIGHT SIDE Wrapper*/
  .rightWrapper {
    width: 100%;
    height: 400px;
  }

}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  /*Left side wrapper*/
  .leftWrapper {
    width: 100%;
    height: 442px;
  }

  /*RIGHT SIDE Wrapper*/
  .rightWrapper {
    width: 100%;
    height: 400px;
  }

}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {/*Left side wrapper*/
  /*Left side wrapper*/
  .leftWrapper {
    width: 100%;
    height: 442px;
  }
  /*RIGHT SIDE Wrapper*/
  .rightWrapper {
    width: 100%;
    height: 400px;
  }

}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  /*Left side wrapper*/
  .leftWrapper {
    width: 100%;
    height: 442px;
  }

  /*RIGHT SIDE Wrapper*/
  .rightWrapper {
    width: 100%;
    height: 400px;
  }

}
@media only screen and (max-width: 920px) and (min-width: 769px) {
  /*Left side wrapper*/
  .leftWrapper {
    width: 100%;
    height: 442px;
  }

  /*RIGHT SIDE Wrapper*/
  .rightWrapper {
    width: 100%;
    height: 660px;
  }

}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  /*Left side wrapper*/
  .leftWrapper {
    width: 100%;
    height: 442px;
  }

  /*RIGHT SIDE Wrapper*/
  .rightWrapper {
    width: 100%;
    height: 700px;
  }

}

/* Large devices (desktops, less than 1200px)*/
@media only screen and (max-width: 1200px) and (min-width: 1026px) {
  /*Left side wrapper*/
  .leftWrapper {
    width: 250px;
  }

  /*RIGHT SIDE Wrapper*/
  .rightWrapper {
    width: 735px;
  }

}

/* X-Large devices (large desktops, less than 1400px)*/
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
  /*Left side wrapper*/
  .leftWrapper {
    width: 320px;
  }

  /*RIGHT SIDE Wrapper*/
  .rightWrapper {
    width: 800px;
  }

}
