<!--Wrapper with text-->
<div class="leftWrapper">

    <span class="wrapperText">
        <h1 *ngIf="left" [@slideInBottom]>Contact</h1>
    </span>

    <span class="wrapperText">
        <h3 *ngIf="left" [@slideInBottom]>Call</h3>
    </span>

    <span class="wrapperText">
        <p style="margin-bottom: 0;" *ngIf="left" [@slideInBottom]>+43 666 5555555</p>
    </span>

    <span class="wrapperText">
        <h3 *ngIf="left" [@slideInBottom]>Email</h3>
    </span>

    <span class="wrapperText">
        <p style="margin-bottom: 0;" *ngIf="left" [@slideInBottom]>info@makai.com</p>
    </span>

    <span class="wrapperText">
        <h3 *ngIf="left" [@slideInBottom]>Adress</h3>
    </span>

    <span class="wrapperText">
        <p *ngIf="left" [@slideInBottom]>Makai</p>
    </span>

    <span class="wrapperText">
        <p *ngIf="left" [@slideInBottom]>Brugg 35</p>
    </span>

    <span class="wrapperText">
        <p *ngIf="left" [@slideInBottom]>6870 Bezau</p>
    </span>

</div>

<!--PHOTO WRAPPER-->
<div class="rightWrapper">
  <img *ngIf="imageShow" [@SlideInLeft] src="assets/contact/60e2d87e30a90d04eb16e4e0_6.jpg" alt="">
</div>
