<div class="videoWrapp">
  <video
  #video
  type="video/mp4"
  src="assets/pexels-kampus-production-7660371.mp4"
  autoplay
  muted
  loop
  appResize
  (position)="position($event)"></video>
</div>

<div class="secondHeader">
  <h1>The Ultimate Webflow Template</h1>
</div>
<div class="secondHeader">
    <p>Lorem ipsum dolor sit amet, con secte tur adip si cin <br>
    elit, do eius mod tempor in cidi dut ut la bore magna <br>
    aliquat enim ad</p>
</div>
<div class="secondHeader">
    <button class="btn">View More</button>
</div>
