<!--Span wrapper Name-->
<span class="wrapperItems">
  <h3>{{object.Name}}</h3>
</span>

<!--Span wrapper image-->
<span class="wrapperItems imageSpan">
  <img [src]="object.userPhoto" class="blogUserImage" alt="">
</span>

<!--Span wrapper about text-->
<span class="wrapperItems pSpan">
  <p class="pBlogItems">{{object.about}}</p>
</span>

<!--Span wrapper social media options-->
<span class="wrapperItems hide">
  <h3>Social media</h3>
</span>

<span class="wrapperItems links hide">
  <a href="" class="aBlogItem">Facebook</a>
  <a href="" class="aBlogItem">Instagram</a>
  <a href="" class="aBlogItem">Twitter</a>
</span>
