<span class="link about" (mouseenter)="changeHover('about')" (mouseleave)="reverse('about')" routerLink="/about">
    <a class="a" routerLink="/about" href="" [@hover]="!hoverAbout ? 'active' : 'inactive'">About</a>
    <a class="a down" routerLink="/about" href="" [@hoverBlue]="hoverAbout ? 'active' : 'inactive'">About</a>
</span>

<span class="link shop" (mouseenter)="changeHover('shop')" (mouseleave)="reverse('shop')">
  <span class="text">
    <a class="a" href="" [@hover]="!hoverShop ? 'active' : 'inactive'">Shop</a>
    <a class="a down" href="" [@hoverBlue]="hoverShop ? 'active' : 'inactive'">Shop</a>
  </span>

  <span class="icon">
    <img class="imageIcon" [@hoverImg]="!hoverShop ? 'active' : 'inactive'" src="../../../../../../assets/arrow-right-black.svg" width="14px" alt="">
    <img class="imageIcon1" [@hoverImgBlue]="hoverShop ? 'active' : 'inactive'" src="../../../../../../assets/arrow-right-blue.svg" width="14px" alt="">
  </span>

</span>

<span class="link blog" (mouseenter)="changeHover('blog')" (mouseleave)="reverse('blog')" routerLink="/blog">
  <a class="a" href="" [@hover]="!hoverBlog ? 'active' : 'inactive'" routerLink="/blog">Blog</a>
  <a class="a down" href="" [@hoverBlue]="hoverBlog ? 'active' : 'inactive'" routerLink="/blog">Blog</a>
</span>

<span class="link contact" (mouseenter)="changeHover('contact')" (mouseleave)="reverse('contact')" routerLink="/contact">
  <a class="a" href="" [@hover]="!hoverContact ? 'active' : 'inactive'" routerLink="/contact">Contact</a>
  <a class="a down" href="" [@hoverBlue]="hoverContact ? 'active' : 'inactive'" routerLink="/contact">Contact</a>
</span>


<app-drop-down id="absoluteDropDown" *ngIf="displayDropDown" [@slideAnim] (mouseover)="changeHoverAbsolute()" (mouseleave)="reverseAbsolute()"></app-drop-down>
