<span class="linksWrapper">
  <h3>man</h3>
</span>
<span class="linksWrapper">
  <a href="" class="aLinks" [routerLink]="['/shop','Man','T-shirts']">t-shirts</a>
  <a href="" class="aLinks" [routerLink]="['/shop','Man','Surfboards']">surfboards</a>
  <a href="" class="aLinks" [routerLink]="['/shop','Man','Swimwears']">swimwears</a>
</span>


<span class="linksWrapper woman">
  <h3>woman</h3>
</span>
<span class="linksWrapper">
  <a href="" class="aLinks" [routerLink]="['/shop','Woman','T-shirts']">t-shirts</a>
  <a href="" class="aLinks" [routerLink]="['/shop','Woman','Surfboards']">surfboards</a>
  <a href="" class="aLinks" [routerLink]="['/shop','Woman','Swimwears']">swimwears</a>
</span>
