.linksWrapper{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}
.linksWrapper h3{
  text-transform: lowercase;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.aLinks{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  text-transform: lowercase;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  width: 100%;
  text-align: start;
  margin: 20px 0 0 0;
}
.aLinks:hover{
  opacity: .7;
}

.woman{
  margin-top: 60px;
}
.active{
  color: #81d0d8;
}


/*MEDIA Q. */

@media (max-width: 320px) {
  .linksWrapper {
    width: 50%;
  }
  /*MARGIN BOTTOM FOR WOMAN HEADER*/
  .woman {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 414px) and (min-width: 321px) {
  .linksWrapper {
    width: 50%;
  }
  /*MARGIN BOTTOM FOR WOMAN HEADER*/
  .woman {
    margin-top: 0px;
  }
}

/* X-Small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 576px) and (min-width: 415px) {
  .linksWrapper {
    width: 50%;
  }
  /*MARGIN BOTTOM FOR WOMAN HEADER*/
  .woman {
    margin-top: 0px;
  }
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 768px) and (min-width: 577px) {
  .linksWrapper {
    width: 50%;
  }
  /*MARGIN BOTTOM FOR WOMAN HEADER*/
  .woman {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 920px) and (min-width: 769px) {
  .linksWrapper {
    width: 50%;
  }
  /*MARGIN BOTTOM FOR WOMAN HEADER*/
  .woman {
    margin-top: 0px;
  }

}
@media only screen and (max-width: 1025px) and (min-width: 921px) {
  .linksWrapper {
    width: 50%;
  }
  /*MARGIN BOTTOM FOR WOMAN HEADER*/
  .woman {
    margin-top: 0px;
  }

}
