.h1Follow{
  font-size: 35px;
  font-family: 'Lobster', sans-serif;
  line-height: 1.25;
  color: #333333;
  font-weight: 400;
}
.btn{
  padding: 14px 37px;
  border: 1px solid #333;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: #333;
  text-decoration: none;
}
.btn:hover{
  border-color: #81d0d8;
  background-color: #81d0d8;
  color: #fff;
}
