<div class="header">
  <h1 *ngIf="displayBlog" [@slideRight]>makai news</h1>
</div>

<div class="photosWrapp" >
    <div class="wrapperLeft" (mouseleave)="mouseOut()" (mouseover)="setData('JUNE 25, 2021','Do you want to get lost in nature?','Read More','displayFirst')">
      <img src="../../../assets/carBlog.jpg" alt="" class="image" *ngIf="displayBlog" [@slideRight] [@scale]="!scale1 ? 'begin' : 'end' ">

      <app-text-content class="absoluteWrapper" [idBlog]="10" [name]="'Alexa Alexa'" [readMore]="readMore" [header]="header" [date]="date" *ngIf="displayFirst" [@fadeIn]></app-text-content>

    </div>

    <div class="wrapperRight">

      <div class="top" (mouseleave)="mouseOut()" (mouseover)="setData('JULY 6, 2021','The 5 best surfboards','Read More','displaySec')">
        <img src="assets/stap.jpg" alt="" class="image" *ngIf="displayBlog" [@slideTop] [@scale]="!scale2 ? 'begin' : 'end' ">

        <app-text-content class="absoluteWrapper" [idBlog]="1" [name]="'Alexa Alexa'" [readMore]="readMore" [header]="header" [date]="date" *ngIf="displaySec" [@fadeIn]></app-text-content>

      </div>

      <div class="top" (mouseleave)="mouseOut()" (mouseover)="setData('JULY 6, 2021','Makai by the sea','Read More','displayThird')">
        <img src="assets/beach.jpg" alt="" class="image" *ngIf="displayBlog" [@slideLeft] [@scale]="!scale3 ? 'begin' : 'end' ">

        <app-text-content class="absoluteWrapper" [idBlog]="2" [name]="'Damian Damian'" [readMore]="readMore" [header]="header" [date]="date" *ngIf="displayThird" [@fadeIn]></app-text-content>

      </div>

      <div class="bottom" (mouseleave)="mouseOut()" (mouseover)="setData('JULY 6, 2021','The importance of recycled materials','Read More','displayFourth')">
        <img src="assets/woman.jpg" alt="" class="image" *ngIf="displayBlog" [@slideTop] [@scale]="!scale4 ? 'begin' : 'end' ">

        <app-text-content class="absoluteWrapper" [idBlog]="3" [name]="'Mary Mary'" [readMore]="readMore" [header]="header" [date]="date" *ngIf="displayFourth" [@fadeIn]></app-text-content>

      </div>

    </div>
</div>
