/*Small header top*/
.firstHeader{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  color: #aaa9a9;
  font-size: 24px;
  text-transform: lowercase;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}
/*Big header*/
.secondHeader{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
}
/*Big header h1*/

.secondHeader h1{
  position: relative;
  color: #333;
  font-size: 63px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Lobster', sans-serif;
  line-height: 1.225;
  margin-bottom: 30px;
}

/*paragraph tag style*/
.secondHeader p{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

/*BUTTON*/
.btn{
  position: relative;
  overflow: hidden;
  padding: 14px 37px;
  border: 1px solid #333;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}
.btn:hover{
  background-color: #81d0d8;
  color: #fff;
  border: 1px solid #fff;

}


/*MEDIA Q. */

@media (max-width: 320px) {

  /*Big header h1*/
  .secondHeader h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  /*paragraph tag style*/
  .secondHeader p {
    font-size: 16px;
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 414px) and (min-width: 320.001px) {

  /*Big header h1*/
  .secondHeader h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }

  /*paragraph tag style*/
  .secondHeader p {
    font-size: 16px;
    margin-bottom: 20px;
  }

}
