<div class="childWrapper">
  <h1 *ngIf="textPos" [@showFromBottom]>m</h1>
</div>

<div class="childWrapper">
  <div class="div1">
    <h4 *ngIf="textPos" [@showFromBottom]>WE ARE MAKAI</h4>
  </div>
  <div class="div1">
    <p *ngIf="textPos" [@showFromBottom]>Lorem ipsum dolor sit amet, con secte tur adip si cin elit,
      do eius mod tempor in cidi dut ut la bore magna aliquat enim ad
    </p>
  </div>
  <div class="div1">
    <p *ngIf="textPos" [@showFromBottom]>Lorem ipsum dolor sit amet, con secte tur adip si cin elit,
      do eius mod tempor in cidi dut ut la bore magna aliquat enim ad
    </p>
  </div>
</div>

<div class="childWrapper">
  <p *ngIf="textPos" [@showFromBottom]>Lorem ipsum dolor sit amet, con secte tur adip si cin elit, do eius mod
    tempor in cidi dut ut la bore magna aliquat enim ad
  </p>
</div>
