.wrapperImage{
  position: relative;
  width: 100px;
  height: 100px;
}
.child{
  position: absolute;
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.image{
  position: relative;
  width: 100%;
}
