
<div class="wrapperImage" [style.width]="width" [style.height]="height">
  <div class="child" (mouseenter)="change('display1')" (mouseleave)="reverse('display1')" [@hover]="display1 ? 'active' : 'inactive'">
    <img width="width" height="width" src="assets/brand1Trans.svg" alt="">
    <img width="width" height="height" src="assets/brand1Blue.svg" alt="">
  </div>
</div>

<div class="wrapperImage" [style.width]="width" [style.height]="height">
  <div class="child" [style.width]="width" (mouseenter)="change('display2')" (mouseleave)="reverse('display2')" [@hover]="display2 ? 'active' : 'inactive'">
      <img width="width" height="height" src="assets/brands2Trans.svg"  class="img" alt="">
      <img width="width" height="height" src="assets/brands2Blue.svg" class="img" alt="">
  </div>
</div>

<div class="wrapperImage" [style.width]="width" [style.height]="height">
  <div class="child" [style.width]="width" (mouseenter)="change('display3')" (mouseleave)="reverse('display3')" [@hover]="display3 ? 'active' : 'inactive'">
      <img width="width" height="height" src="assets/brands3Trans.svg" class="img" alt="">
      <img width="width" height="height" src="assets/brands3Blue.svg" class="img" alt="">
  </div>
</div>

<div class="wrapperImage" [style.width]="width" [style.height]="height">
  <div class="child" [style.width]="width" (mouseenter)="change('display4')" (mouseleave)="reverse('display4')" [@hover]="display4 ? 'active' : 'inactive'">
      <img width="width" height="height" src="assets/brands4Trans.svg" class="img" alt="">
      <img width="width" height="height" src="assets/brands4Blue.svg" class="img" alt="">
  </div>
</div>

<div class="wrapperImage" [style.width]="width" [style.height]="height">
  <div class="child" [style.width]="width" (mouseenter)="change('display5')" (mouseleave)="reverse('display5')" [@hover]="display5 ? 'active' : 'inactive'">
      <img width="width" height="height" src="assets/brands5Trans.svg" class="img" alt="">
      <img width="width" height="height" src="assets/brands5Blue.svg" class="img" alt="">
  </div>
</div>


<div class="wrapperImage" [style.width]="width" [style.height]="height">
  <div class="child" [style.width]="width" (mouseenter)="change('display6')" (mouseleave)="reverse('display6')" [@hover]="display6 ? 'active' : 'inactive'">
      <img width="width" height="height" src="assets/brands6Trans.svg" class="img" alt="">
      <img width="width" height="height" src="assets/brands6Blue.svg" class="img" alt="">
  </div>
</div>



